/* Variables //////////////////////////////////////////////////////////////////////////////////////////////*/

:root {
  --basic-white: #ffffff;
  --basic-dark: #323232;
  --medium-dark: #5a5a5a;
  --lite-dark: #999999;

  --back-green: #849d8f;
  --back-gray: #8996a6;
  --back-brown: #9d8b84;
  --back-white: #f8f7f4;

  --lite-pink: #ffbc9e;
  --hard-pink: #e84d37;

  --orange-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --orange-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --orange-active: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);

  --basic-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  --hover-shadow: 0px 2px 2px #ac1000;
  --active-shadow: inset 0px 2px 2px #942718;
}

/* Global //////////////////////////////////////////////////////////////////////////////////////////////*/

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Reusable //////////////////////////////////////////////////////////////////////////////////////////////*/

.page {
  height: 100%;
  background: url("../img/decorative/jucy-ice.jpg") repeat 13% 0;
}

.page-body {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--back-green);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.page-body > *,
.main-container > * {
  width: 1146px;
}

.main-container {
  width: 100%;
  display: grid;
  justify-items: center;
  row-gap: 40px;
  outline: 5px solid #ffc824;
  outline-offset: -5px;
}

.main-container h1 {
  outline: solid 5px rgb(238, 136, 158);
  outline-offset: -5px;
}

.button-link {
  text-decoration: none;
  display: inline-flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  background: var(--orange-gradient);
  box-shadow: var(--basic-shadow);
  border-radius: 70px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
}

.button-link:hover,
.button-link:focus {
  background: var(--orange-hover);
  box-shadow: var(--hover-shadow);
}

.button-link:active {
  background: var(--orange-active);
  box-shadow: var(--active-shadow);
}

.site-navigation .current-page {
  background: #d07058;
}

.site-navigation .current-page:hover,
.site-navigation .current-page:focus,
.site-navigation .current-page:active {
  background: #d07058;
  color: var(--basic-white);
}

.current-page,
.sub-menu a.current-page:hover {
  background: #d07058;
  color: var(--basic-dark);
}

/* Header //////////////////////////////////////////////////////////////////////////////////////////////*/

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-navigation {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto 1fr;
  line-height: 18px;
  font-weight: 700;
}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  display: block;
  height: min-content;
}

.site-navigation {
  top: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  height: min-content;
  justify-content: space-between;
}

.catalog-menu > .current-page {
  border-radius: 26px;
}

.user-navigation {
  min-width: 250px;
  position: relative;
  top: 15px;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
  height: min-content;
}

.user-navigation li > a {
  text-decoration: none;
  flex-shrink: 1;
}

.site-navigation a,
.user-navigation li > a {
  display: block;
  color: var(--basic-white);
  /* margin-right: 10px; */
  padding: 9px 15px;
}

.user-navigation input {
  display: block;
  color: var(--lite-dark);
  margin-right: 32px;
  padding: 5px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
  margin: 20px auto;
}

.search-item {
  align-self: center;
  position: relative;
}

.user-navigation .search-wrapper {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  width: 341px;
  height: 84px;
  background: var(--back-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.search-icon {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-item:hover .search-wrapper,
.search-item:focus-within .search-wrapper {
  display: block;
}

.site-navigation > li > a:hover,
.user-navigation li > a:hover,
.search-icon:hover {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  border-radius: 26px;
}

.site-navigation > li > a:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

.site-navigation .sub-menu {
  list-style: none;
  display: none;
  position: absolute;
  left: -15px;
  width: 143px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.sub-menu a {
  text-decoration: none;
  color: var(--basic-dark);
  width: 100%;
  padding: 10px 0 10px 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.sub-menu li:first-child a {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  line-height: 18px;
  font-weight: 700;
}

.site-navigation > li:hover .sub-menu,
.site-navigation > li:focus-within .sub-menu {
  display: block;
}

.site-navigation .sub-menu a:hover,
.site-navigation .sub-menu a:focus {
  background-color: #fbded7;
}

.site-navigation .sub-menu a:active {
  background: #f6b5a5;
}

.user-navigation .login-form {
  display: none;
  position: absolute;
  background-color: var(--basic-white);
  right: 0;
  top: 40px;
  padding: 0 17px 22px 19px;
  margin: 0;
}

.login-item {
  position: relative;
}

.login-form input {
  display: block;
  width: 241px;
  height: 44px;
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
  border-radius: 4px;
}

.user-navigation .button-link {
  width: 103px;
}

.user-navigation .password-recovery,
.user-navigation .new-registration {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark);
  padding-top: 4px;
}

.user-navigation .login-container {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
}

.login-item:hover .login-form,
.login-item:focus-within .login-form {
  display: block;
}

.work-hours {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.contacts {
  width: 100%;
}

.contacts .phone {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.contacts .phone:hover,
.contacts .phone:focus,
.contacts .phone:active {
  color: var(--lite-pink);
}

.contacts-container {
  margin-left: 80%;
  text-align: right;
  margin-right: 27px;
}

/* Index //////////////////////////////////////////////////////////////////////////////////////////////*/

/* Product description */

.product-description {
  outline: solid 5px rgb(28, 202, 255);
  outline-offset: -5px;
  text-align: center;
}

.product-description img {
  margin-bottom: -270px;
}

.product-description figcaption {
  display: inline-block;
  width: 672px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.toggler {
  list-style: none;
  text-align: left;
  display: block;
  position: relative;
  top: 40px;
  padding: 0;
  margin: 0;
}

.toggle-item {
  display: inline-block;
  cursor: pointer;
}

.product-link {
  width: 261px;
  height: 62px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

/* Prom offers */

.prom-list {
  outline: solid 5px rgb(214, 255, 32);
  outline-offset: -5px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  margin: 0;
  padding: 0;
}

.prom-list h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 16px;
}

.prom-item {
  outline: solid 5px rgb(0, 108, 248);
  outline-offset: -5px;
  width: 560px;
  height: 229px;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  background: crimson;
}

.prom-item:last-child {
  background: brown;
}

.prom-item p {
  margin: 16px;
  margin-right: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.prom-item a {
  margin-top: 25px;
  padding: 2px 15px;
  float: right;
  margin-right: 22px;
}

/* Bestsellers |  Creamy list*/

.bestsellers {
  outline: solid 5px rgb(255, 75, 180);
  outline-offset: -5px;
  width: calc(4 * 293px);
}

.product-list {
  outline: solid 5px rgb(12, 255, 105);
  outline-offset: -5px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
}

.product-item {
  outline: solid 5px rgb(255, 95, 103);
  outline-offset: -5px;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, min-content);
  margin: 0;
  padding: 0;
  width: 293px;
  height: 402px;
  border-radius: 4px;
}

.product-item img {
  margin: 0;
  padding: 0;
  margin-bottom: -50px;
  outline: solid 5px rgb(65, 253, 197);
  outline-offset: -5px;
}

.product-item p {
  justify-self: start;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  outline: solid 5px rgb(255, 198, 41);
  outline-offset: -5px;
  padding: 0;
}

.product-item span {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.product-item h3 {
  display: inline-block;
  width: 267px;
  order: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
  outline: solid 5px rgb(130, 85, 255);
  outline-offset: -5px;
}

.product-item a {
  display: none;
  width: 200px;
  outline: solid 5px rgb(212, 255, 95);
  outline-offset: -5px;
}

.product-item a {
  order: 2;
}

.product-item:hover a {
  display: inline-flex;
}

.product-item:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

/* Advantages */

.advantages {
  outline: solid 5px rgb(255, 95, 103);
  outline-offset: -5px;
  position: relative;
  margin: 50px auto;
  background: #f1e6d2;
  color: var(--basic-dark);
  width: 1146px;
  height: 306px;
  border-radius: 16px;
}

.advantages h2 {
  position: absolute;
  top: -50px;
}

.advantages p {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}

.advantages-list li {
  width: 484px;
}

/* News */

.news-container {
  outline: solid 5px rgb(255, 95, 103);
  outline-offset: -5px;
  position: relative;
  display: flex;
  justify-content: space-around;
  column-gap: 26px;
}

.blog-news,
.spam {
  color: var(--basic-dark);
  width: 560px;
  height: 220px;
  border-radius: 16px;
}

.blog-news {
  background: var(--basic-white);
  padding-right: 255px;
}

.blog-news h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-left: 20px;
  margin-top: 23px;
}

.blog-news a {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
  margin-left: 20px;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: var(--hard-pink);
}

.spam {
  width: 548px;
  height: 210px;
  background: var(--back-white);
}

.spam h2 {
  position: absolute;
  top: -50px;
}

.spam-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  margin-left: 20px;
  margin-right: 24px;
  width: 512px;
}

.spam-form label {
  margin-left: 25px;
}

.form-wrapper {
  margin-top: 10px;
  margin-left: 20px;
}

.form-wrapper input {
  width: 368px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 14px;
}

.spam-form button {
  width: 130px;
  border-radius: 70px;
  margin-left: 10px;
}

/* Contacts */

.contacts {
  position: relative;
  color: var(--basic-dark);
}

.contacts h2 {
  text-align: center;
}

.contacts-address {
  position: absolute;
  right: 27px;
  top: 100px;
  width: 303px;
  height: 306px;
  background: #fefefe;
  border-radius: 16px;
}

.contacts-address p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-left: 25px;
}

.contacts-address .contact-name {
  display: inline-block;
  width: 150px;
  margin-top: 25px;
  margin-bottom: 8px;
}

.contacts-address b {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.contact-address {
  display: inline-block;
  width: 250px;
}

.contacts-address a {
  color: inherit;
}

.contacts-address .contact-tel {
  margin-bottom: 11px;
}

.contacts-address .tel-link {
  margin-bottom: 8px;
}

.contacts-address .feed-link {
  width: 253px;
  height: 43px;
  border-radius: 70px;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  margin-left: 25px;
  margin-top: 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

/* Footer //////////////////////////////////////////////////////////////////////////////////////////////*/

.main-footer {
  outline: 5px solid rgba(126, 243, 117, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 20px;
}

.footer-social {
  outline: 5px solid rgba(147, 52, 236, 0.7);
  outline-offset: -5px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 5px solid rgba(147, 52, 236, 0.7);
  outline-offset: -5px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social li {
  margin-right: 10px;
}

.meta-info {
  outline: 5px solid rgba(250, 214, 52, 0.7);
  outline-offset: -5px;
}

.meta-info ul {
  outline: 5px solid rgba(250, 214, 52, 0.7);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, auto);
  column-gap: 20px;
  justify-content: center;
}

.meta-info li:first-child {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.meta-info li:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.meta-info li:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.meta-info li:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.footer-copyright {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.main-footer a,
.main-footer p {
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.main-footer p {
  font-size: 12px;
  align-self: flex-end;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: var(--lite-pink);
}

input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
}

/* Catalog ///////////////////////////////////////////////////////////////////////////////////////*/

.catalog-menu .sub-menu .current-page:hover {
  background: #d07058;
}

.catalog-container {
  row-gap: 0;
}

.catalog-container h1 {
  font-size: 35px;
  line-height: 41px;
  margin-left: 27px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.creamy-list {
  outline: solid 5px rgb(255, 85, 227);
  outline-offset: -5px;
  width: 1172px;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: solid 5px rgb(130, 85, 255);
  outline-offset: -5px;
  order: -1;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 15px;
}

.breadcrumbs a {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:hover {
  color: var(--lite-pink);
}

/* Filters */

.filters {
  outline: solid 5px rgb(82, 200, 255);
  outline-offset: -5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 40px;
  width: 869px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.filters ul,
.filters li {
  display: inline-block;
}

.filters select {
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: var(--basic-white);
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: lowercase;
}

.filters fieldset {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
}

.filters legend {
  padding: 0;
}

.filters ul {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filters button {
  width: 144px;
  height: 36px;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters button:hover,
.filters button:focus {
  background: var(--basic-white);
  color: var(--basic-dark);
}

.filters button:active {
  background: var(--basic-white);
  color: var(--basic-dark);
  box-shadow: inset 0px 2px 1px #696969;
}

/* Pagination */

.pagination-wrapper {
  float: right;
}

.pagination-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: inline-block;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  color: var(--basic-white);
  background-color: var(--basic-black);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  background-color: var(--back-white);
  color: var(--basic-dark);
}
